/* Fine Uploader
    -------------------------------------------------- */
.qq-upload-list {
    text-align: left;
}

/* For the bootstrapped demos */
li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

.small{
    font-size: 12px;
}

.centralpanel{
    height: 440px;
}

.tools{
    text-align: center;
    margin-top: 10px;
}

#keycard{
    width: 249px;
    height: 250px;
}

#previewholder{
    border: 1px solid black;
    width:125px;
    height:150px;
    overflow:hidden;
    position: absolute;
    margin: 59px 0 0 57px;
}

#preview{
    max-width: none !important;
}

.qq-upload-button{
    margin-left:0 !important;
}
.qq-upload-list li{
    /*font-size: 12px;
    line-height: 12px;
    padding: 6px;*/
}

.thumbnail{
    /*min-height: 200px;*/
}
.thumbnail.justif{
    min-height: 62px;
}

.zqq-upload-button{
    width: 260px !important;
}

.modal-file {
    width: 800px !important;
}
